- content_for(:title, "Team • Physio")
-# content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persönlich beraten und motivieren.")
-# content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")

#team

  %section.page-header
    .container
      %h1.title.is-1 Team

  %section.section
    .container
      .columns

        .column.content
          .mate
            .has-text-centered
              = render "picture", image: "team/physio/aline.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Aline Vogt
              %h4.subtitle.is-6 Physiotherapeutin
            %p staatlich anerkannte Physiotherapeutin
            %ul
              %li Manualtherapeutin
              %li Lymphtherapeutin
              %li Sportphysiotherapeutin
              %li Therapeutin für Med. Trainingstherapie
              %li Kinesiotape
              %li Osteopathie
            %p Frau Vogt betreut als Physiotherapeutin die Bundesliga Hockeymannschaft des Münchner SC (MSC)


  %section.section.content
    .container
      .columns

        .column.content
          .mate
            .has-text-centered
              = render "picture", image: "team/physio/lisa.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Lisa Rieß
              %h4.subtitle.is-6 Physiotherapeutin
            %p staatlich anerkannte Physiotherapeutin
            %ul
              %li Osteopathie i.A.
              %li Lymphtherapeutin
              %li Manualtherapeutin
              %li CF Level 1 Trainer
            %p &nbsp;

        .column
          .mate
            .has-text-centered
              = render "picture", image: "team/physio/anette.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Anette Nowag
              %h4.subtitle.is-6 Rezeption und Verwaltung
