---
layout: default
title: "Physiotherapie und Funktionelles Training"
description: "Ihre Praxis für ganzheitliche Physiotherapie, osteopathische Behandlungskonzepte und funktionelles Training im Münchener Westend"
---

<div id="home">

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 is-uppercase">Die Physiobox</h1>
        <h2 class="subtitle is-3">
          Ihre Praxis für ganzheitliche Physiotherapie, osteopathische Behandlungskonzepte und funktionelles Training im Münchner Westend
        </h2>
      </div>
    </div>
  </section>

  <section class="section teaser">
    <div class="container">
      <div class="content is-medium">
        Unser Angebot für Sie basiert auf zwei Säulen:
        <a href="{{ '/physiotherapie' | relative_url }}" class="physio">Physiotherapie/osteopathische Behandlungskonzepte</a>
        und
        <a href="{{ '/funktionelles-training' | relative_url }}" class="athletik">funktionelles Training</a>.
        <br>
        Die Kombination dieser beiden Disziplinen führt zu einem einzigartigen Behandlungskonzept.
      </div>
    </div>
  </section>

  <section class="section physio">
    <div class="container">
      <div class="content">
        <div class="columns is-mobile">
          <div class="column is-one-quarter hide-xs">
            {% include picture.html image="leistungen/physio/lymphdrainage.jpg" sizes="[270, 222, 225, 162]" alt="Physiotherapie" %}
          </div>
          <div class="column">
            <a href="{{ '/physiotherapie/leistungen' | relative_url }}" class="physio">
              <h2>Physiotherapie</h2>
            </a>
            <p>Wir erstellen für jeden unserer Patienten ein individuelles Behandlungskonzept. Hierbei setzen wir auf eine ausgewogene Kombination zwischen passiven und aktiven Behandlungstechniken.</p>
          </div>
          <div class="column is-one-quarter is-hidden-mobile"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="section athletik">
    <div class="container">
      <div class="content">
        <div class="columns is-mobile">
          <div class="column is-one-quarter is-hidden-mobile"></div>
          <div class="column has-text-right">
            <a href="{{ '/funktionelles-training/leistungen' | relative_url }}" class="athletik">
              <h2>Funktionelles Training</h2>
            </a>
            <p>
              Bei uns trainierst du in einer Gruppe von 8-10 Personen.<br>
              Persönliche Betreuung und Gruppendynamik sorgen für höchste Motivation und jede Menge Spaß.
            </p>
          </div>
          <div class="column is-one-quarter hide-xs">
            {% include picture.html image="leistungen/athletik/funktionelles-training.jpg" sizes="[270, 222, 225, 162]" alt="Functional Training" %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section physio">
    <div class="container">
      <div class="content">
        <div class="columns is-mobile">
          <div class="column is-one-quarter hide-xs">
            {% include picture.html image="quadrat/schwanger.jpg" sizes="[270, 222, 225, 162]" alt="Behandlung von Schwangeren" %}
          </div>
          <div class="column">
            <a href="{{ '/physiotherapie/leistungen' | relative_url }}">
              <h2>Behandlung von Schwangeren</h2>
            </a>
            <p>Wir begleiten Sie in Ihrer Schwangerschaft und helfen typischen Beschwerden in der Anfangsphase sowie im späteren Verlauf der Schwangerschaft entgegen zu wirken.</p>
          </div>
          <div class="column is-one-quarter is-hidden-mobile"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="section athletik">
    <div class="container">
      <div class="content">
        <div class="columns is-mobile">
          <div class="column is-one-quarter is-hidden-mobile"></div>
          <div class="column has-text-right">
            <a href="{{ '/funktionelles-training/leistungen' | relative_url }}">
              <h2>Personal Training</h2>
            </a>
            <p>Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainern persönlich beraten und motivieren.</p>
          </div>
          <div class="column is-one-quarter hide-xs">
            {% include picture.html image="leistungen/athletik/personaltraining.jpg" sizes="[270, 222, 225, 162]" alt="Personal Training" %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section physio">
    <div class="container">
      <div class="content">
        <div class="columns is-mobile">
          <div class="column is-one-quarter hide-xs">
            {% include picture.html image="leistungen/physio/osteopathie.jpg" sizes="[270, 222, 225, 162]" alt="osteopathische Behandlungskonzepte" %}
          </div>
          <div class="column">
            <a href="{{ '/physiotherapie/leistungen' | relative_url }}">
              <h2>
                <span class="wbr">Osteopathische</span>
                <span class="wbr">Behandlungskonzepte</span>
              </h2>
            </a>
            <p>
              Mit Hilfe von osteopathischen Techniken analysieren wir die Ursachen von Funktionsstörungen.<br>
              Dabei betrachten wir den Patienten in seiner Gesamtheit anstatt den Fokus nur auf einzelne Beschwerden oder Krankheiten zu richten.
            </p>
          </div>
          <div class="column is-one-quarter is-hidden-mobile"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="section athletik">
    <div class="container">
      <div class="content">
        <div class="columns is-mobile">
          <div class="column is-one-quarter is-hidden-mobile"></div>
          <div class="column has-text-right">
            <a href="{{ '/funktionelles-training/leistungen' | relative_url }}">
              <h2>Rehabilitation und Sporttherapie</h2>
            </a>
            <p>Wir erstellen für Sie differenzierte Therapie- und Trainingspläne zur Prävention oder Behandlung von Dysfunktionen des Bewegungsapparates oder nach einer Verletzung.</p>
          </div>
          <div class="column is-one-quarter hide-xs">
            {% include picture.html image="leistungen/athletik/sporttherapie.jpg" sizes="[270, 222, 225, 162]" alt="Rehabilitation und Sporttherapie" %}
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
