- content_for(:title, "Athletik")
- content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persnönlich beraten und motivieren.")
- content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")

#athletik-kursangebot

  %section.page-header
    .container
      %h1.title.is-1 Kursangebot

  %section.section
    .container.content
      .table-container
        %table.table.events

          %thead
            %tr
              %th Montag
              %th Dienstag
              %th Mittwoch
              %th Donnerstag
              %th Freitag
              %th Samstag
              %th Sonntag


          %tbody
            %tr
              %td
                .event
                  .time 6:30 - 7:30
                  .title Fitness
              %td
              %td
                .event
                  .time 6:30 - 7:30
                  .title Fitness
              %td
              %td
              %td
              %td


            %tr
              %td
              %td
              %td
              %td
              %td
              %td
                .event
                  .time 9:00 - 10:00
                  .title Fitness
              %td


            %tr
              %td
              %td
              %td
              %td
              %td
              %td
                .event
                  .time 10:00 - 11:00
                  .title Fitness
              %td

            %tr
              %td
              %td
              %td
              %td
              %td
              %td
                .event
                  .time 11:00 - 12:00
                  .title Fitness
              %td


            %tr
              %td
                .event
                  .time 18:00 - 19:00
                  .title Fitness
              %td
                .event
                  .time 18:00 - 19:00
                  .title Fitness
              %td
                .event
                  .time 18:00 - 19:00
                  .title Technik an&nbsp;der Langhantel *
              %td
                .event
                  .time 18:00 - 19:00
                  .title Kraft/Strength Circuit
              %td
                .event
                  .time 18:00 - 19:00
                  .title Fitness
              %td
              %td


            %tr
              %td
                .event
                  .time 18:30 - 19:30
                  .title Fitness Outdoor
              %td
                .event
                  .time 18:30 - 20:30
                  .title Open Gym Outdoor
              %td
                .event
                  .time 18:30 - 20:30
                  .title Open Gym Outdoor
              %td
                .event
                  .time 18:30 - 19:30
                  .title Fitness Outdoor
              %td
                .event
                  .time 19:00 - 20:00
                  .title Open Gym Outdoor
              %td
              %td


            %tr
              %td
                .event
                  .time 19:00 - 20:00
                  .title Fitness
              %td
                .event
                  .time 19:00 - 20:00
                  .title Fitness
              %td
                .event
                  .time 19:00 - 20:00
                  .title Fitness
              %td
                .event
                  .time 19:00 - 20:00
                  .title Fitness
              %td
                .event
                  .time 19:00 - 20:00
                  .title Open Gym
              %td
              %td


            %tr
              %td
                .event
                  .time 20:00 - 21:00
                  .title Kraft/Strength Circuit *
              %td
                .event
                  .time 20:00 - 21:00
                  .title Fitness
              %td
                .event
                  .time 20:00 - 21:00
                  .title Fitness
              %td
                .event
                  .time 20:00 - 21:00
                  .title Fitness
              %td
              %td
              %td

      %p
        * Montag: Kraft/Strength Circuit wechselt wöchentlich zwischen 18:00 & 20:00
        %br/
        * Mittwoch: Technik an der Langhantel wechselt wöchentlich zwischen 18:00 & 20:00

      .has-text-right
        = link_to "Anmelden auf TeamUp", "https://goteamup.com/p/324668-die-physiobox-gmbh/#!week", class: "button is-primary", target: "goteamup"
