- content_for(:title, "Preise")


#preise

  %section.page-header
    .container
      %h1.title.is-1 Preise


  %section.section.preise
    .container

      .columns.is-multiline
        .column.is-one-quarter-desktop.is-half-tablet
          .card
            .card-content
              %h2.is-4.title Paket 1
              .content
                %p Berechtigung für 2 Trainings pro Woche.
                %div.has-text-right
                  %strong.has-text-right 95&thinsp;€ pro Monat

        .column.is-one-quarter-desktop.is-half-tablet
          .card
            .card-content
              %h2.is-4.title Paket 2
              .content
                %p Berechtigung für 3 Trainings pro Woche.
                %div.has-text-right
                  %strong.has-text-right 109&thinsp;€ pro Monat

        .column.is-one-quarter-desktop.is-half-tablet
          .card
            .card-content
              %h2.is-4.title Paket 3
              .content
                %p Berechtigung für 4 Trainings pro Woche.
                %div.has-text-right
                  %strong.has-text-right 129&thinsp;€ pro Monat

        .column.is-one-quarter-desktop.is-half-tablet
          .card
            .card-content
              %h2.is-4.title Paket 4
              .content
                %p Flatrate, 7+ Trainings pro Woche.
                %div.has-text-right
                  %strong.has-text-right 155&thinsp;€ pro Monat

        .column.is-one-quarter-desktop.is-half-tablet
          .card
            .card-content
              %h2.is-4.title Paket 5 - 10er&nbsp;Karte
              .content
                %p Beginnt mit dem Datum des Kaufs. Gültig für 4 Monate.
                %div.has-text-right
                  %strong.has-text-right einmalig 149&thinsp;€

        .column.is-one-quarter-desktop.is-half-tablet
          .card
            .card-content
              %h2.is-4.title Probetraining
              .content
                %p Beginnt mit dem Datum des Kaufs. Gültig für 2 Monate.
                %div.has-text-right
                  %strong.has-text-right einmalig 15&thinsp;€

        .column.is-one-quarter-desktop.is-half-tablet
          .card
            .card-content
              %h2.is-4.title DropIn
              .content
                %div.has-text-right
                  %strong.has-text-right einmalig 20&thinsp;€

        .column.is-one-quarter-desktop.is-half-tablet
          .card
            .card-content
              %h2.is-4.title Paket 6 - OpenGym 10er&thinsp;Karte
              .content
                %p Beginnt mit dem Datum des Kaufs. Gültig für 10 Monate.
                %div.has-text-right
                  %strong.has-text-right einmalig 100&thinsp;€

        .column.is-one-quarter-desktop.is-half-tablet
          .card
            .card-content
              %h2.is-4.title Laktatdiagnostik
              .content
                %p Einmalige Sitzung, Dauer ca. 90 Minuten, inklusive Beratungsgespräch
                %div.has-text-right
                  %strong.has-text-right einmalig 116&thinsp;€

        .column.is-one-quarter-desktop.is-half-tablet
          .card
            .card-content
              %h2.is-4.title Personal Training
              .content
                %p 60 Minuten, Einzeltraining
                %div.has-text-right
                  %strong.has-text-right einmalig 96,50&thinsp;€

        .column.is-one-quarter-desktop.is-half-tablet
          .card
            .card-content
              %h2.is-4.title Trainingsplanerstellung
              .content
                %p Beratungsgespräch inklusive Trainingsplanerstellung für 4&nbsp;Wochen.
                %div.has-text-right
                  %strong.has-text-right einmalig 149&thinsp;€

        .column.is-one-quarter-desktop.is-half-tablet
          .card
            .card-content
              %h2.is-4.title FMS-Analyse
              .content
                %p Dauer ca.&nbsp;45&nbsp;Minuten, inklusive Besprechung
                %div.has-text-right
                  %strong.has-text-right einmalig 75&thinsp;€
