<footer id="footer" class="footer">
  <div class="container">
    <div class="columns">

      <div class="column content address">
        <address>
          <div class="title is-5">Die Physiobox GmbH</div>
          <p>
            <span class="icon">
              <i class="fas fa-map-marker-alt"></i>
            </span>
            Westendstraße 185<br>
            <span class="icon">
              <i class="fas fa-invalid"></i>
            </span>
            80686 München
          </p>
          <p>
            <span class="icon">
              <i class="fas fa-phone"></i>
            </span>
            <a href="tel:+498995493710">(089) 95 49 37 10</a>
          </p>
          <p>
            <span class="icon">
              <i class="fas fa-envelope"></i>
            </span>
            <a href="mailto:mail@diephysiobox.de">mail@diephysiobox.de</a>
          </p>
        </address>
      </div>

      <div class="column is-narrow opening-times content">
        <div class="title is-6">Öffnungszeiten</div>
        <table>
          <tr>
            <td class="day">Montag</td>
            <td>8:00 - 18:00</td>
          </tr>
          <tr>
            <td class="day">Dienstag</td>
            <td>8:00 - 18:00</td>
          </tr>
          <tr>
            <td class="day">Mittwoch</td>
            <td>8:00 - 18:00</td>
          </tr>
          <tr>
            <td class="day">Donnerstag</td>
            <td>8:00 - 18:00</td>
          </tr>
          <tr>
            <td class="day">Freitag</td>
            <td>8:00 - 18:00</td>
          </tr>
          <tr>
            <td colspan="2">Und Termine nach Vereinbarung</td>
          </tr>
        </table>
      </div>

      <div class="column content links">
        <ul class="list-unstyled">
          <li><a href="{{ '/impressum' | relative_url }}">Impressum</a></li>
          <li><a href="{{ '/datenschutz' | relative_url }}">Datenschutz</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>