- content_for(:title, "Kursangebot • Funktionelles Training")
-# content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persönlich beraten und motivieren.")
-# content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")

#athletik-kursangebot

  %section.page-header
    .container
      %h1.title.is-1 Kursangebot

  %section.section
    .container.content
      .table-container
        %table.table.events

          %thead
            %tr
              %th Montag
              %th Dienstag
              %th Mittwoch
              %th Donnerstag
              %th Freitag
              %th Samstag
              %th Sonntag


          %tbody

            %tr
              %td
              %td
              %td
                .event
                  .time 6:30 - 7:30
                  .title Funktionelles Training
              %td
              %td
              %td
              %td

            %tr
              %td
              %td
              %td
              %td
              %td
              %td
                .event
                  .time 9:00 - 10:00
                  .title Funktionelles Training
              %td

            %tr
              %td
              %td
              %td
              %td
              %td
              %td
                .event
                  .time 10:00 - 11:00
                  .title Funktionelles Training
              %td

            %tr
              %td
              %td
              %td
              %td
              %td
              %td
              %td


            %tr
              %td
                .event
                  .time 18:00 - 19:00
                  .title Funktionelles Training
              %td
                .event
                  .time 18:00 - 19:00
                  .title Funktionelles Training
              %td
                .event
                  .time 18:00 - 19:00
                  .title Funktionelles Training
              %td
                .event
                  .time 18:00 - 19:00
                  .title Funktionelles Training
              %td
                .event
                  .time 18:00 - 19:00
                  .title Funktionelles Training
              %td
              %td


            %tr
              %td
                .event
                  .time 19:00 - 20:00
                  .title Funktionelles Training
              %td
                .event
                  .time 19:00 - 20:00
                  .title Gymnastics
              %td
                .event
                  .time 19:00 - 20:00
                  .title Funktionelles Training
              %td
                .event
                  .time 19:00 - 20:00
                  .title Funktionelles Training
              %td
                .event
                  .time 19:00 - 20:00
                  .title Funktionelles Training
              %td
              %td


            %tr
              %td
                .event
                  .time 20:00 - 21:00
                  .title Funktionelles Training
              %td
                .event
                  .time 20:00 - 21:00
                  .title Funktionelles Training
              %td
                .event
                  .time 20:00 - 21:00
                  .title Funktionelles Training
              %td
                .event
                  .time 20:00 - 21:00
                  .title Funktionelles Training
              %td
              %td
              %td

      %p
        * Weightlifting, Mobility & Prehab und Yoga Klassen wöchentlich wechselnd - siehe TeamUp
        %br/
        * OpenGym nach Bedarf

      .has-text-right
        = link_to "Anmelden auf TeamUp", "https://goteamup.com/p/324668-die-physiobox-gmbh/#!week", class: "button is-primary has-text-white", target: "goteamup"
