- content_for(:title, "Leistungen • Funktionelles Training")
- content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persönlich beraten und motivieren.")
- content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")


#leistungen

  %section.page-header
    .container
      %h1.title.is-1 Leistungen


  %section.section.leistungen
    .container
      .columns.is-multiline.is-centered

        .column.is-half-tablet.is-one-third-desktop
          .card
            .card-image
              %figure.image
                = render "picture", image: "leistungen/athletik/funktionelles-training.jpg", sizes: [366, 302, 474, 718], alt: "Funktionelles Training"
            .card-content
              .media
                .media-content
                  %h2.title.is-4 Funktionelles Training
              .content
                %p Beim funktionellen Training trainierst du ganzheitlich deine Kraft, Koordination, Ausdauer, Mobilität, Stabilität, Beweglichkeit und Schnelligkeit.
                %p Neben Kursen im Bereich Funktionelles Training bieten wir auch Spezialklassen in Gewichtheben, Gymnastics und Yoga an. Diese finden alle in Kleingruppen statt und professionelle Trainer mit langjähriger Erfahrung achten auf eine korrekte Ausführung. Dies ermöglicht es, individuell auf dich einzugehen und das Training in der Gruppe auf dich und deine Bedürfnisse anzupassen. Bei uns kannst du unabhängig von deinem aktuellen Trainingszustand oder deiner sportlichen Vorerfahrung einsteigen.

        .column.is-half-tablet.is-one-third-desktop
          .card
            .card-image
              %figure.image
                = render "picture", image: "leistungen/athletik/personaltraining.jpg", sizes: [366, 302, 474, 718], alt: "Personaltraining"
            .card-content
              .media
                .media-content
                  %h2.title.is-4 Personaltraining
              .content
                %p Egal ob Sie Schmerzen lindern, fitter werden, ihre Leistung oder ihre Bewegungseffizienz steigern möchten, mit unserem breit aufgestellten Team stehen wir Ihnen mit einem ganzheitlichen Konzept zur Seite. Im Personal Training können wir auf alle individuellen Wünsche, Ziele und Defizite eingehen und Ihnen zu einer neuen Performance verhelfen - im Alltag und im (Leistungs-) Sport. Das Training kann auf Wunsch um ein Ernährungscoaching ergänzt werden.

        .column.is-half-tablet.is-one-third-desktop
          .card
            .card-image
              %figure.image
                = render "picture", image: "leistungen/athletik/sporttherapie.jpg", sizes: [366, 302, 474, 718], alt: "Rehabilitation und Sporttherapie"
            .card-content
              .media
                .media-content
                  %h2.title.is-4 Rehabilitation und Sporttherapie
              .content
                %p Zur Prävention oder Behandlung von Dysfunktionen des Bewegungsapparates sowie nach Verletzungen bieten wir Ihnen individuelles sporttherapeutisches Personal Training an.
                %p Wir machen Alltagsathleten und Leistungssportler (wieder) fit und verhelfen Ihnen zurück in den Sport!
