---
layout: physio
title: Team • Physiotherapie
---

<section class="page-header">
  <div class="container">
    <h1 class="title is-1">Team</h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">

      <!-- Katharina -->
      <div class="column content is-half-tablet is-one-third-desktop">
        <div class="mate">
          <div class="has-text-centered">
            {% include picture.html image="team/physio/katharina.jpg" sizes="[350, 350, 350, 350]" %}
            <h3 class="name title is-4">Katharina Ambros</h3>
            <h4 class="subtitle is-6">Physiotherapeutin</h4>
          </div>
          <ul>
            <li>Manuelle Therapie</li>
            <li>Manuelle Lymphdrainage</li>
            <li>Craniomandibuläre Dysfunktionen (CMD)</li>
            <li>Sportphysiotherapie</li>
            <li>Kinesiotaping</li>
            <li>CrossFit Level 2 Trainer</li>
            <li>Certified Functional Trainer</li>
            <li>DOSB-C-Trainerin Leistungssport Schwimmen, Fachrichtung Synchronschwimmen</li>
            <li>Trainerin SG Stadtwerke München Isarnixen</li>
            <li>Ehem. Athletin SG Stadtwerke München Isarnixen, Synchronschwimmen - Deutscher Vizemeister Masters (Kombination)</li>
            <li>Functional Fitness Athletin</li>
          </ul>
        </div>
      </div>

      <!-- Stefan -->
      <div class="column content is-half-tablet is-one-third-desktop">
        <div class="mate">
          <div class="has-text-centered">
            {% include picture.html image="team/physio/stefan.jpg" sizes="[350, 350, 350, 350]" %}
            <h3 class="name title is-4">Stefan Storch</h3>
            <h4 class="subtitle is-6">Physiotherapeut</h4>
          </div>
          <ul>
            <li>Manuelle Therapie</li>
            <li>Manuelle Lymphdrainage</li>
            <li>Sportphysiotherapie</li>
            <li>Craniomandibuläre Dysfunktionen (CMD)</li>
            <li>Kinesiotaping</li>
            <li>Myofascial Release</li>
            <li>Functional Trainer</li>
            <li>Lauftrainer</li>
            <li>ehemaliger Spieler & Kapitän 1.&nbsp;Mannschaft FC Hertha München, Bezirksliga Oberbayern Süd</li>
          </ul>
        </div>
      </div>

      <!-- Lisa -->
      <div class="column content is-half-tablet is-one-third-desktop">
        <div class="mate">
          <div class="has-text-centered">
            {% include picture.html image="team/physio/lisa.jpg" sizes="[350, 350, 350, 350]" %}
            <h3 class="name title is-4">Lisa Schnurrer, geb.&nbsp;Rieß</h3>
            <h4 class="subtitle is-6">Physiotherapeutin</h4>
          </div>
          <ul>
            <li>Osteopathie i.&thinsp;A.</li>
            <li>Heilpraktikerin</li>
            <li>Manuelle Therapie</li>
            <li>Manuelle Lymphdrainage</li>
            <li>CrossFit - L1</li>
            <li>DOSB-C-Trainerin Leistungssport Gewichtheben</li>
            <li>CrossFit Athletin</li>
            <li>Athletin Olympisches Gewichtheben - Deutsche Meisterin 2018 (-69kg)</li>
          </ul>
        </div>
      </div>

      <!-- Albi -->
      <div class="column content is-half-tablet is-one-third-desktop">
        <div class="mate">
          <div class="has-text-centered">
            {% include picture.html image="team/physio/albi.jpg" sizes="[350, 350, 350, 350]" %}
            <h3 class="name title is-4">Albertýna Michels, geb.&nbsp;Dobešová</h3>
            <h4 class="subtitle is-6">B.&thinsp;Sc. Physiotherapie</h4>
          </div>
          <ul>
            <li>Manuelle Therapie</li>
            <li>Heilpraktikerin</li>
            <li>Sportphysiotherapie</li>
            <li>Craniomandibuläre Dysfunktionen (CMD)</li>
            <li>Flossing</li>
            <li>Kinesiotaping</li>
            <li>Yogainstruktorin</li>
            <li>DOSB-B-Trainerin Breitensport Ski- und Schneesport (Alpin)</li>
            <li>Athletiktrainerin und physiotherapeutische Betreuung 1.&nbsp;Damenmannschaft Volleyball, DJK Sportbund München Ost e.&thinsp;V.</li>
            <li>Ehemalige Athletin des FIS - CIT Ski Alpin Kaders mit Rennen auf internationalem Niveau</li>
          </ul>
        </div>
      </div>

      <!-- Chris -->
      <div class="column content is-half-tablet is-one-third-desktop">
        <div class="mate">
          <div class="has-text-centered">
            {% include picture.html image="team/physio/chris.jpg" sizes="[350, 350, 350, 350]" %}
            <h3 class="name title is-4">Christoph Mattes</h3>
            <h4 class="subtitle is-6">Physiotherapeut</h4>
          </div>
          <ul>
            <li>Manuelle Therapie</li>
            <li>Manuelle Lymphdrainage</li>
            <li>Craniomandibuläre Dysfunktionen (CMD)</li>
            <li>Sportphysiotherapie</li>
            <li>Kinesiotaping</li>
            <li>DOSB-Trainer C Leistungssport Volleyball</li>
            <li>Functional Trainer</li>
            <li>Lauftrainer</li>
            <li>Spieler MTV München von 1879 e.&thinsp;V. Dritte Liga, Volleyball</li>
          </ul>
        </div>
      </div>

      <!-- Anne -->
      <div class="column content is-half-tablet is-one-third-desktop">
        <div class="mate">
          <div class="has-text-centered">
            {% include picture.html image="team/physio/anne.jpg" sizes="[350, 350, 350, 350]" %}
            <h3 class="name title is-4">Anne Scheid</h3>
            <h4 class="subtitle is-6">Physiotherapeutin, Ärztin</h4>
          </div>
          <ul>
            <li>Manuelle Therapie</li>
            <li>Manuelle Lymphdrainage</li>
            <li>Craniomandibuläre Dysfunktionen (CMD)</li>
            <li>Kinesiotaping</li>
            <li>Sportphysiotherapie</li>
          </ul>
        </div>
      </div>

      <!-- Christina -->
      <div class="column content is-half-tablet is-one-third-desktop">
        <div class="mate">
          <div class="has-text-centered">
            {% include picture.html image="team/physio/christina.jpg" sizes="[350, 350, 350, 350]" %}
            <h3 class="name title is-4">Christina Lampeter</h3>
            <h4 class="subtitle is-6">Physiotherapeutin</h4>
          </div>
          <ul>
            <li>Manuelle Therapie</li>
            <li>Manuelle Lymphdrainage</li>
            <li>Craniomandibuläre Dysfunktionen (CMD)</li>
            <li>Krankengymnastik am Gerät</li>
            <li>Sportphysiotherapie</li>
            <li>Kinesiotaping</li>
            <li>Functional Trainerin</li>
            <li>Lauftrainerin</li>
            <li>Zusatzstudium Physiotherapie (B.&thinsp;Sc.) i.&thinsp;A.</li>
            <li>Übungsleiterin Akrobatik Rock’n’Roll</li>
            <li>Physiotherapeutische Betreuung der Kaderathleten Standard & Latein im DTV</li>
            <li>Kaderathletin Akrobatik Rock’n’Roll in der Hauptklasse</li>
            <li>Functional Fitness Athletin</li>
          </ul>
        </div>
      </div>

      <!-- Levin -->
      <div class="column content is-half-tablet is-one-third-desktop">
        <div class="mate">
          <div class="has-text-centered">
            {% include picture.html image="team/physio/levin.jpg" sizes="[350, 350, 350, 350]" %}
            <h3 class="name title is-4">Levin Berger</h3>
            <h4 class="subtitle is-6">Physiotherapeut</h4>
          </div>
          <ul>
            <li>Manuelle Therapie i.&thinsp;A.</li>
            <li>Manuelle Lymphdrainage</li>
            <li>Craniomandibuläre Dysfunktionen (CMD) i.&thinsp;A.</li>
            <li>Sportphysiotherapie</li>
            <li>Kinesiotaping</li>
            <li>Co-Trainer am Deutschen Volleyball Verband Nachwuchsstützpunkt, VCO München</li>
            <li>Trainer MTV München von 1879 e.&thinsp;V., Dritte Liga, Volleyball</li>
            <li>DOSB-Trainer B Leistungssport Volleyball i.&thinsp;A.</li>
          </ul>
        </div>
      </div>

      <!-- Anette -->
      <div class="column content is-half-tablet is-one-third-desktop">
        <div class="mate">
          <div class="has-text-centered">
            {% include picture.html image="team/physio/anette.jpg" sizes="[350, 350, 350, 350]" %}
            <h3 class="name title is-4">Anette Nowag</h3>
            <h4 class="subtitle is-6">Rezeption und Verwaltung</h4>
          </div>
          <p>Bürozeiten:</p>
          <ul style="margin-top: 0.25rem; margin-bottom: 0.25rem;">
            <li>Montag: 10:00-15:00 Uhr</li>
            <li>Dienstag: 10:00-15:00 Uhr</li>
            <li>Mittwoch: 10:00-15:00 Uhr</li>
            <li>Donnerstag: 10:00-15:00 Uhr</li>
            <li>Freitag: 10:00-12:45 Uhr</li>
          </ul>
          <span>(Mittagspause 12:45-13:15 Uhr)</span>
        </div>
      </div>

    </div>
  </div>
</section>

