- content_for :skip_nav, true

#athletik
  %section.header-teaser

  %section.hero.is-primary.is-bold
    .hero-body
      .container
        %h1.title Weg von Wellness-Tempeln, back to the roots of fitness!
        %h2.subtitle Erlebe wofür dein Körper konzipiert wurde - bei funktionellem Training statt isoliertem Muskelaufbau!

  = render "nav_athletik"

