- content_for(:title, "Fitness")

#fitness

  .container
    = image_tag "header_fitness", class: "img-fluid"

    %h1.page-title Fitness

    .row.featurette#sportphysiotherapie
      .col-md-9
        %h2.featurette-heading Sportphysiotherapie
        %p.lead Diese Therapie befasst sich mit dem Erstellen von differenzierten Therapie- und Trainingsplänen nach einer Verletzung bzw. einem Trauma unter Beachtung der verletzten Strukturen und ihrer Heilungsverläufe. Somit ist sie Bestandteil der funktionellen Trainingstherapie.
      .col-md-3
        %img.featurette-image.img-fluid.mx-auto{:alt => "Generic placeholder image", "src" => "https://via.placeholder.com/255x255"}/

    %hr.featurette-divider/

    .row.featurette#kinesiotaping
      .col-md-9.order-md-2
        %h2.featurette-heading Kinesiotaping
        %p.lead in Kinesio-Tape ist ein elastisches, selbstklebendes und atmungsaktives Tape aus reiner Baumwolle, das direkt auf die Haut geklebt wird. Es ist angenehm zu tragen und schränkt die Bewegungsfähigkeit nicht ein. Das Tape erzielt seine Wirkung durch spezielle Anlagetechniken, die die Physiotherapeutin individuell auswählt. Kinesio-Taping ist schmerzlos, medikamentenfrei und ohne Nebenwirkungen. Kinesio-Taping kann eine physiotherapeutische Behandlung positiv unterstützen. Das Anwendungsspektrum ist breit gefächert. Es reicht von chronischen oder akuten Rückenschmerzen, Spannungskopfschmerzen und Muskelverspannungen bis zum Tennisellenbogen. Ziel dieser Therapie ist die Verbesserung von Muskelfunktion und Lymphzirkulation sowie die Unterstützung der Gelenkfunktion und die Schmerzreduktion.
      .col-md-3.order-md-1
        = image_tag "quadrat/kinesio", class: "featurette-image img-fluid mx-auto"

    %hr.featurette-divider/

    .row.featurette#crossfit
      .col-md-9
        %h2.featurette-heading CrossFit
        %p.lead
          „CrossFit“ zu sein bedeutet, eine allgemeine physische Kapazität zu besitzen, die sich im Allgemeinen gut für alle Eventualitäten eignet: das Wahrscheinliche, das Unwahrscheinliche, das Bekannte, das Unbekannte. Die Fitness des CrossFit-Athleten bietet eine solide Grundlage für jede Sportart oder Aufgabe.
          Mehr Informationen zu unseren CrossFit-Angeboten erhalten Sie auf
          = succeed "." do
            - link_to "https://crossfitbewegt.com"
      .col-md-3
        = image_tag "quadrat/crossfit", class: "featurette-image img-fluid mx-auto"
