- content_for(:title, "Funktionelles Training")
- content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persönlich beraten und motivieren.")
- content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")

#athletik
  %section.header-teaser

  %section.hero.is-primary.is-bold
    .hero-body
      .container
        %h1.title Weg von Wellness-Tempeln, back to the roots of fitness!
        %h2.subtitle Erlebe wofür dein Körper konzipiert wurde - bei funktionellem Training statt isoliertem Muskelaufbau!
