- content_for(:title, "Impressum")
- content_for(:robots, "noindex")

#impressum

  %section.section
    .container.content

      %h1.page-title Impressum

      %p
        %span.has-text-weight-medium Betreiber:
        %br/
        Die Physiobox GmbH

      %p
        %span.has-text-weight-medium Geschäftsführer:
        %br/
        Katharina Ambros

      %p
        %span.has-text-weight-medium Hausanschrift:
        %br/
        %span Die Physiobox GmbH
        %br/
        %span Westendstraße 185
        %br/
        %span 80686
        %span München

      %p
        %span.has-text-weight-medium Tel.:
        +49 (89) 95493710
        %br/
        %span.has-text-weight-medium Fax:
        +49 (89) 95493619
        %br/
        %span.has-text-weight-medium E-Mail:
        mail@diephysiobox.de

      %p
        %span.has-text-weight-medium Registergericht:
        München
        %br/
        %span.has-text-weight-medium Registernummer:
        HRB 212419
        %br/
        %span.has-text-weight-medium Ust-ID-Nr.:
        DE446915942

      %p Für Ihren Komfort bietet unsere Seite Links zu anderen Seiten. Wenn Sie auf einen der Links klicken, verlassen Sie unsere Seite und betreten eine andere Seite. Wir sind nicht verantwortlich für die Inhalte verlinkter Drittseiten oder Hyperlinks, die sich auf verlinkten Drittseiten befinden.
