- content_for(:title, "Wir suchen ein sportbegeisterten Physiotherapeuten/-in")
- content_for(:description, "Wir sind auf der Suche nach einem sportbegeisterten Physiotherapeuten/-in in unserer Praxis")
- content_for(:keywords, "Physiotherapeut, MT, MLD, Stellenazeige")
- content_for(:schema, "jobposting.json")

#karriere

  .container

    %h1.page-title Wir suchen einen Physiotherapeuten (m/w/d)
    %p Wir sind auf der Suche nach einem sportbegeisterten Physiotherapeuten/-in!
    %p In unserer modern eingerichteten Praxis liegt der Schwerpunkt bei Patienten aus dem orthopädisch -, chirugisch - und neurologischem Bereich. Zusätzlich betreiben wir eine Athletik Box mit täglichen Athletik Kursen.
    %h2 Profil-Anforderungen
    %ul
      %li Physiotherapeut/in mit Zusatzausbildung MT, MLD Vorkenntnisse wären wünschenswert, ist aber nicht zwingend erforderlich
      %li Teamfähigkeit
      %li Gepflegtes Erscheinungsbild
      %li Begeisterung für Sport
      %li Offener und lockerer Umgang mit Patienten und Sportlern

    %h2 Was wir bieten:
    %ul
      %li Überdurchschnittliche Vergütung
      %li Unbefristeter Arbeitsvertrag
      %li Fortbildungszuschüsse und Fortbildungstage
      %li Interne Fortbildungen
      %li Selbstständiges Arbeiten
      %li Nettes, engagiertes Team
      %li Terminierung und Rezeptabwicklung über unsere Rezeptionskraft
      %li Wir betreuen Patienten aus dem Leistungssportbereich und Breitensport
      %li Einblicke in die Leistungsdiagnostik (Laktatdiagnostik und FMS)
      %li Organisieren von Camps und Events

    %p Wir freuen uns auf deine Bewerbung!

    %p
      Bewerbung an:
      %br
      z. Hd. Christoph Reiner
      %br
      geschaeftsleitung@diephysiobox.de
