- content_for(:title, "Physio")
-# content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persönlich beraten und motivieren.")
-# content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")

%section.page-header
  .container
    %h1.title.is-1 Physio

%section.section
  .container.content
    %h2 Unsere Motivation
    %p.has-text-justified{style: "font-size: 1.125rem"} Als interdisziplinäre Therapiepraxis machen wir es uns zur Aufgabe den Patienten mit seiner Problematik ganzheitlich zu betrachten. Darum arbeiten bei uns in der Praxis nur bestens ausgebildete Therapeuten mit mehreren fachspezifischen Fortbildungen um dem jeweiligen Krankheitsbild auf den Grund gehen zu können. Wir berücksichtigen in unserer Behandlung den Bewegungsapparat (Gelenke, Bänder, Muskeln, Faszien) sowie das Nervensystem und die psychoemotionale Ebene und betrachten den Patienten in seinem sozialen und beruflichen Umfeld. Darum wird der Patient in seinen Strukturen von Kopf bis Fuß untersucht um den Auslöser der Beschwerden zu finden. Um so wichtiger ist es Spezialisten in den Gebieten – Physiotherapie, Osteopathie, Sportphysiotherapie, Functional Training – in unsere Praxis zu vereinen um genau diesem Anspruch gerecht zu werden und die moderne Therapie voll ausschöpfen zu können! Grundvoraussetzung dafür ist das präzise Verständins der Anatomie, Physiologie und Biomechanik des jeweiligen Therapeuten was bei uns von oberster Priorität steht!
