- content_for(:title, "Physiotherapie")
-# content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persönlich beraten und motivieren.")
-# content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")

%section.page-header
  .container
    %h1.title.is-1 Physiotherapie


%section.section
  .container.content
    %h2 Unsere Motivation
    .has-text-justified{style: "font-size: 1.125rem"}
      %p Als interdisziplinäre Therapiepraxis machen wir es uns zur Aufgabe den Patienten mit seiner Problematik ganzheitlich zu befunden. Wir berücksichtigen in unserer Behandlung den Bewegungsapparat (Gelenke, Bänder, Muskeln, Faszien), das Nervensystem sowie die psychoemotionale Ebene. Auch betrachten wir den Patienten in seinem sozialen und beruflichen Umfeld.
      %p Der Patient wird in seinen Strukturen von Kopf bis Fuß untersucht um die Auslöser der Beschwerden zu finden. Grundvoraussetzung dafür ist das präzise Verständnis der Anatomie, Physiologie und Biomechanik.
      %p Um diesem Anspruch der modernen Therapie gerecht zu werden, besteht unser Team aus Spezialisten aus den Gebieten - Physiotherapie, Osteopathie, Sportphysiotherapie und funktionelles Training. Alle unsere Therapeuten haben mehrere fachspezifische Fortbildungen.
