- content_for(:title, "Therapien")

#therapien

  .container
    = image_tag "header_therapien.jpg", class: "img-fluid"

    %h1.page-title.mb-10 Therapien


    .card-columns

      .card
        .card-body
          %h3.card-title#klassische-massage Klassische Massage (KMT)
          %p.lead.card-body Mechanische und manuelle Anwendung der Massagegrundgriffe wie Streichungen Klopfungen und Vibrationen, bzw. eine Kombination aus diesen. Ziel ist es Muskulatur zu entspannen, Schmerz zu lindern, Durchblutung anzuregen und gewebliche Verklebungen zu lösen.

      .card
        .card-body
          %h3#manuelle-lymphdrainage Manuelle Lymphdrainage (MLD)
          .card-body
            %img.img-fluid.float-right{:alt => "Generic placeholder image", "src" => "https://via.placeholder.com/125x125"}/
            %p.lead Die Manuelle Lymphdrainage ist eine Spezialform der Massage mit sehr weicher Grifftechnik. Sie dient hauptsächlich als Ödem- und Entstauungstherapie für geschwollene Körperregionen – z.B. nach Brustkrebsoperationen, Lipödemen und traumatischen oder postoperativen Ödemen. Sie verschafft den Patienten spürbare Erleichterung und kann den Heilungsprozess beschleunigen. Hierbei ist das Ziel Abflussförderung von interstitiellen Flüssigkeit über das Lymph- und Venengefäßsystem anzuregen.

      .card
        .card-body
          %h3#manuelle-therapie Manuelle Therapie
          %p.lead.card-body Die Manuelle Therapie spielt in der Physiotherapie eine wichtige Rolle. Dabei werden spezielle Handgriffe angewandt, die zum einen zum Lindern von Schmerzen genutzt werden und zum anderen Bewegungseinschränkungen verbessern. Diese Anwendung wird nicht nur bei der Behandlung von Funktionsstörungen eingesetzt, sondern dient auch der Befunderhebung, um Bewegungsstörungen im Bereich der Extremitätengelenke oder der Wirbelsäule zu lokalisieren und analysieren.

      .card
        .card-body
          %h3#krankengymnastik Krankengymnastik (KG)
          %p.lead.card-body Krankengymnastische Behandlungstechniken dienen dazu z.B. Fehlentwicklungen, Erkrankungen und verletzungsbedingte Funktionsstörungen des Bewegungsapparates und des Nervensystems mit mobilisierenden und stabilisierenden Techniken zu verbessern. Ebenfalls können aktive Übungen zur Verbesserung der Stabilität, Beweglichkeit und Kraft des Körpers angeleitet werden. Ziel ist es hier dem Patienten ein bestmögliches individuelles Angebot zu schaffen, welches aus passiven und aktiven Behandlungstechniken besteht. Auch ein Eigenübungsprogramm ist ein wichtiger Bestandteil.

      .card
        .card-body
          %h3#krankengymnastische-techniken-bei-craniomandibulaere-dysfunktion Krankengymnastische Techniken bei Craniomandibuläre Dysfunktion (CMD)
          %p.lead.card-body Funktionsstörungen, die durch Fehlstellungen zwischen Halswirbelsäule, Schädel und Unterkiefer entstehen, können eine gestörte Kaufunktion hervorrufen. Symptome sind z. B. Kieferschmerzen, Kopfschmerzen, Ohrgeräusche sowie Zähneknirschen. Durch gezielte Krankengymnastik können diese Fehlstellungen korrigiert werden. Zahnärzte haben die Möglichkeit diese Behandlungen zu verschreiben.

      .card
        .card-body
          %h3#craniosacrale-therapie
            Craniosacrale Therapie
            .small (lat. cranium = Schädel; sacral (os sacrum) = Kreuzbein)
          %p.lead.card-body Die Cranio-Sacral-Therapie ist eine sanfte manuelle Behandlungsform mit speziellen Handgriffen, die vorwiegend im Bereich des Schädels, des Nackens, der Wirbelsäule und des Beckens angewandt werden. Ziel ist eine positive Einflussnahme auf das zentrale Nervensystem.

      .card
        .card-body
          %h3#viszerale-therapie Viszerale Therapie
          %p.lead.card-body Die Viszerale Therapie ist eine manuelle Behandlungsform der inneren Organe, die Verklebungen löst und die Durchblutung fördert.
