- content_for(:title, "Therapien")

#therapien

  .container

    = render "picture", image: "header_therapien.jpg", sizes: [1110, 930, 690, 510], alt: "Erklärung an einem Handmodell"

    %h1.page-title.mb-10 Therapien

    .card-columns

      .card
        .card-body
          %h3.card-title#klassische-massage Klassische Massage (KMT)
          %p.lead.card-text Mechanische und manuelle Anwendung der Massagegrundgriffe wie Streichungen Klopfungen und Vibrationen, bzw. eine Kombination aus diesen. Ziel ist es Muskulatur zu entspannen, Schmerz zu lindern, Durchblutung anzuregen und gewebliche Verklebungen zu lösen.

      .card
        .card-body
          %h3.card-title#manuelle-lymphdrainage Manuelle Lymphdrainage (MLD)
          %p.lead.card-textDie Manuelle Lymphdrainage ist eine Spezialform der Massage mit sehr weicher Grifftechnik. Sie dient hauptsächlich als Ödem- und Entstauungstherapie für geschwollene Körperregionen – z.B. nach Brustkrebsoperationen, Lipödemen und traumatischen oder postoperativen Ödemen. Sie verschafft den Patienten spürbare Erleichterung und kann den Heilungsprozess beschleunigen. Hierbei ist das Ziel Abflussförderung von interstitiellen Flüssigkeit über das Lymph- und Venengefäßsystem anzuregen.

      .card
        .card-body
          %h3.card-title#manuelle-therapie Manuelle Therapie
          %p.lead.card-text Die Manuelle Therapie spielt in der Physiotherapie eine wichtige Rolle. Dabei werden spezielle Handgriffe angewandt, die zum einen zum Lindern von Schmerzen genutzt werden und zum anderen Bewegungseinschränkungen verbessern. Diese Anwendung wird nicht nur bei der Behandlung von Funktionsstörungen eingesetzt, sondern dient auch der Befunderhebung, um Bewegungsstörungen im Bereich der Extremitätengelenke oder der Wirbelsäule zu lokalisieren und analysieren.

      .card
        .card-body
          %h3.card-title#krankengymnastik Krankengymnastik (KG)
          %p.lead.card-text Krankengymnastische Behandlungstechniken dienen dazu z.B. Fehlentwicklungen, Erkrankungen und verletzungsbedingte Funktionsstörungen des Bewegungsapparates und des Nervensystems mit mobilisierenden und stabilisierenden Techniken zu verbessern. Ebenfalls können aktive Übungen zur Verbesserung der Stabilität, Beweglichkeit und Kraft des Körpers angeleitet werden. Ziel ist es hier dem Patienten ein bestmögliches individuelles Angebot zu schaffen, welches aus passiven und aktiven Behandlungstechniken besteht. Auch ein Eigenübungsprogramm ist ein wichtiger Bestandteil.

      .card
        .card-body
          %h3.card-title#krankengymnastische-techniken-bei-craniomandibulaere-dysfunktion Krankengymnastische Techniken bei Craniomandibuläre Dysfunktion (CMD)
          %p.lead.card-text Funktionsstörungen, die durch Fehlstellungen zwischen Halswirbelsäule, Schädel und Unterkiefer entstehen, können eine gestörte Kaufunktion hervorrufen. Symptome sind z. B. Kieferschmerzen, Kopfschmerzen, Ohrgeräusche sowie Zähneknirschen. Durch gezielte Krankengymnastik können diese Fehlstellungen korrigiert werden. Zahnärzte haben die Möglichkeit diese Behandlungen zu verschreiben.

      .card
        .card-body
          %h3.card-title#craniosacrale-therapie
            Craniosacrale Therapie
            .small (lat. cranium = Schädel; sacral (os sacrum) = Kreuzbein)
          %p.lead.card-text Die Cranio-Sacral-Therapie ist eine sanfte manuelle Behandlungsform mit speziellen Handgriffen, die vorwiegend im Bereich des Schädels, des Nackens, der Wirbelsäule und des Beckens angewandt werden. Ziel ist eine positive Einflussnahme auf das zentrale Nervensystem.

      .card
        .card-body
          %h3.card-title#viszerale-therapie Viszerale Therapie
          %p.lead.card-text Die Viszerale Therapie ist eine manuelle Behandlungsform der inneren Organe, die Verklebungen löst und die Durchblutung fördert.

    %hr.featurette-divider

    .card
      .card-body
        %h2.card-title#behandlung-von-schwangeren Behandlung von Schwangeren
        .card-text
          .lead
            %p Unser Team hat einen Wandel in der Therapie von schwangeren Frauen mitgemacht und eine menge Erfahrung gesammelt wie man typischen Beschwerden von schwangeren Frauen in der Anfangsphase und in der Zeit der Schwangerschaft entgegen wirken kann.
            %p Gerade in der Anfangszeit der Schwangerschaft muss sich der Körper umstellen, hier kann es entscheidend sein, dass die Blutzirkulation und der hormonelle Weitertransport und das Nervensystem nicht durch Kompressionen und Spannungsfelder gestört werden. Oftmals ist diese Zeit auch mit sehr viel Emotionen/Ängsten und Sorgen verbunden, was oftmals eine Innenrotation (Enstellung) des Zwerchfells/Atemmuskels sowie zu einer Kompression der Beckenbodenmuskulatur führt. Dies kann zu Kopfschmerzen, Rückenschmerzen oder auch Beschwerden im Unterleib führen. Unsere Aufgabe besteht darin, diese Spannungen zu finden und für einen entspannten Ausgleich zu sorgen.
            %p
              Später kommt es oftmals zu Sodbrennen, Beckenbeschwerden (ISG-Schmerzen) und Rückenschmerzen durch die Veränderung des Körpers. Dies wird leider noch als selbstverständlich und normal angesehen. Allerdings kann man mit dem heutigen know-how und den modernen Therapieansätzten einer schwangeren Frau gut in dieser Phase helfen, um die Schwangerschaft möglichst beschwerdefrei zu genießen.
              Durch ausgleichende Techniken und dem Auffinden von verspanntem Gewebe oder Fehlstellungen von Gelenken kann ein lästiger Schmerz der Schwangeren gelindert werden.
              Auch typische Kopfschmerzen können einen direkten Zusammenhang mit einer Kompression des Beckens und dem damit verbundenen Nervensystem haben und behandelt werden.
            %p Eine enge Zusammenarbeit mit Ihrem Frauenarzt liegt uns besonders am Herzen. Darum sprechen Sie Ihren Arzt auf die Behandlungsmöglichkeiten an und geben Sie gerne unseren Kontakt durch für eventuelle Rückfragen!

