- content_for(:title, "Athletik")
-# content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persönlich beraten und motivieren.")
-# content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")


#athletik-leistungen-athletik


  %section.page-header
    .container
      %h1.title.is-1 Athletik

  %section.section
    .container
      .columns.columns-reverse
        = render "pages/athletik/leistungen/navigation"

        .column.content
          %p Lass dich durch kompetente Trainer, die langjährige Erfahrung im Profisportbereich als Physiotherapeuten haben, motivieren und trainieren. Mach dich fit – ganz ohne Leistungsdruck. Bei uns kannst du unabhängig von deinem aktuellen Trainingszustand oder deiner sportlichen Vorerfahrung einsteigen Sämtliche Übungen können auf deinen individuellen Fitnesszustand nach oben oder unten skaliert werden. Funktionelles Athletik Training ist in der Fitnesswelt kaum noch weg zu denken und findet großen Anklang bei Athleten aller Sportdisziplinen. Hier trainierst du in unserer Athletik-Box in einer Gruppe von 8-10 Personen. Persönliche Betreuung und Gruppendynamik sorgen für höchste Motivation und für jede Menge Spaß.

          %p Das Funktionelle Athletik Training stützt sich auf folgende 3 Säulen:

          %ul
            %li Kraft & Weightlifting
            %li Ausdauer & Endurance
            %li Gymnastik (Koordination und Beweglichkeit) & Gymnastics

          %p Das Ziel ist, möglichst alle Speicherkapazitäten zu trainieren und damit ein gesundes Leben bis ins hohe Alter zu erreichen. Jede Trainingseinheit umfasst Mobilität, Kraft und Ausdauer. Jede Woche steht eine Übung – Skill - aus einem der 3 Bereiche im Fokus, die speziell erlernt und technisch verbessert wird – wie zum Beispiel Seilspringen oder Handstand. Am Ende findet das Workout of the day (WOD), das Herzstück einer jeden Trainingseinheit, statt – eine kurze intensive Intervalleinheit, mit einer Vielzahl an Übungsvarianten. In jedem Training erwartet dich etwas Neues!

          %p An bestimmten Tagen finden die sogenannten „Hero Workouts“ statt. Dies sind vorgegebene Workouts die auf der ganzen Welt in unterschiedlichsten Boxen abgehalten werden und als sogenannte Benchmarks bezeichnet werden. Diese dienen zur Kontrolle, ob man sich in seiner Fitness verbessert hat.

          %p.has-text-right= link_to "Anmelden auf TeamUp", "https://goteamup.com/p/324668-die-physiobox-gmbh/#!week", class: "button is-primary", target: "goteamup"
