- content_for(:title, "Athletik")
- content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persnönlich beraten und motivieren.")
- content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")

#athletik-leistungen

%section.page-header
  .container
    %h1.title.is-1 Personal Training


%section.section
  .container
    .columns.columns-reverse
      = render "pages/athletik/leistungen/navigation"

      .column.content
        %p Nutzen Sie das Wissen der modernen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainern persönlich beraten und motivieren.

        %p
          Sie möchten
          %ul
            %li Abnehmen?
            %li Einen gesunden Rücken?
            %li Fit werden und bleiben?
            %li Medizinisch ausgebildete Trainer?
            %li Hilfe beim Sixpack?

        %p Sprechen Sie uns persönlich an und wir erstellen mit Ihnen einen gemeinsamen Plan!
