- content_for(:title, "Präventive Vorsorge im Freizeit– und Amateursport")
-# content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persönlich beraten und motivieren.")
-# content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")


#athletik-leistungen-praeventive-vorsorge

%section.page-header
  .container
    %h1.title.is-1 Präventive Vorsorge im Freizeit– und Amateursport

%section.section
  .container
    .columns.columns-reverse
      = render "pages/athletik/leistungen/navigation"

      .column.content
        .columnize
          %p Fälschlicherweise wird im Volksmund immer noch die Meinung vertreten: „Sport tut halt weh, bzw. Sport muss weh tun – ich beiß mich schon durch. Bloß keine Schwäche zeigen, ich zeig meinem Körper schon was er aushalten muss.“
          %p Heutzutage weiß man aber, dass im Sport Vorsorge getroffen werden sollte, „bevor“ es zu Verletzungen kommt. Es spielt dabei keine Rolle, um welchen Sport es sich handelt, egal ob CrossFit, Fußball, Handball, Hockey, Triathlon oder eine andere Sportart. Doch leider werden therapeutische Maßnahmen für den Sportler erst wichtig und interessant, wenn es schon zu Verletzungen gekommen ist. Dann ist der Zug bereits abgefahren und man verliert wertvolle Zeit, um den sportlichen Zielen näher zu kommen. Prävention im Amateursport ist leider noch wenig verbreitet. Der Glaube, nur der Profisportler könne sich einen fachmännischen Rat einholen ist veraltet und entspricht nicht mehr der Realität.
          %p Täglich erleben wir hier bei der Physiobox, dass Sportler aus den unterschiedlichsten Sportarten auf Anweisung eines Arztes in unsere Praxis zur Behandlung kommen. Es zeigen sich viele Beschwerdebilder, wie Probleme in der Wirbelsäule, im Kniegelenk, der Schulter, im Sprunggelenk und vieles mehr.  Oftmals wird uns dann die Frage gestellt, wie lange denn die Verletzung dauern werde und warum Profisportler schneller regenerieren oder gar nicht erst derartige Verletzungen bekommen.
          %p Hier muss ganz klar differenziert werden. Ein Profisportler wird in der Regel von Physiotherapeuten, Ärzten und Sportwissenschaftlern regelmäßig durch verschiedene Screening Verfahren untersucht. Dadurch können bereits frühzeitig mögliche Überlastungen erkannt und ausgeschaltet werden.
          %p= render "picture", image: "vorsorge/umknicken.jpg", sizes: [222, 168, 270, 320], alt: "Belastung des Sprunggelenks beim Umknicken", class: "float-right"

          %p
            Wie sind diese präventive Ansätze zu verstehen?
            %br
            Dazu ein einfaches Beispiel.
            %br
            Überlege Dir selbst: Bist Du schon einmal mit deinem Sprunggelenk umgeknickt oder hängen geblieben?
            %br
            Sicherlich wirst Du jetzt antworten: „Ja klar, aber das ist doch schon Jahre her und das ist doch jedem schon mal passiert.“
            %br
            Und hier liegt eine mögliche Ursache eines Bandscheibenvorfalls, einer Muskelzerrung oder einer Entzündung am Kniegelenk.
          = render "picture", image: "vorsorge/anatomie_sprunggelenk.jpg", sizes: [222, 168, 270, 320], alt: "Anatomie des Sprunggelenks", class: "float-left"
          %p
            Warum?
            %br
            Schaut man sich die Anatomie des Körpers an und betrachtet die Biomechanik in den Gelenken, dann lässt sich diese Frage anhand einer aufsteigenden Kette schnell beantworten. Das Umknicktrauma kann dazu führen, dass die Außenbänder im Sprunggelenk das Wadenbein mit nach unten vorne ziehen und durch die muskuläre Schutzspannung das Wadenbein unten halten und fixieren. Nun muss man wissen, dass der hintere Oberschenkelmuskel (M. Bizeps femoris) am Wadenbeinköpfchen fixiert ist. Da dieser Muskel auch einen Zug durch das fixierte Wadenbein bekommt, zieht dieser – durch seinen Ansatz am Becken (Sitzbeinhöcker) – die Beckenschaufel nach hinten. Als Folge ergibt sich ein Beckenschiefstand.
            %br
            Dieser Beckenschiefstand kann dazu führen, dass der hintere Oberschenkelmuskel zu sehr und zu lange einen Zug bekommt (denke an einen Gummi, der ständig unter Spannung steht und porös wird), schlecht durchblutet wird und beim nächsten Sprint, Sprung, Deadlift oder Power Clean einen Riss bekommt. So schnell hast Du einen Muskelfaserriss oder eine Zerrung.
            %br
            Eine weitere Möglichkeit wäre, dass durch die Beckenschiefstellung der Lendenwirbelkörper in eine Rotationsstellung – durch seine bandhafte Verbindung zum Beckenkamm – fixiert wird. Dadurch wird die Bandscheibenhülle – der Faserring – auf ständigen Zug gebracht, wodurch dieser porös wird und zu einem lästigen Bandscheibenvorfall führen kann.
            %br
            Diese Verkettungen lassen sich oftmals im Vorfeld vermeiden, wenn der Athlet oder Hobbysportler direkt nach seinem Trauma oder präventiv versorgt wird.
            %br
            Es ließen sich viele weitere Beispiele anführen. Dies würde jedoch einen tieferen Einstieg in die Anatomie erfordern und den Rahmen dieses Artikels sprengen.
          = render "picture", image: "vorsorge/bewegungsapparat.png", sizes: [222, 168, 270, 320], alt: "Bewegungsapparat", class: "float-right"
          %p
            Viele Hobby– und Amateursportler haben über Jahre hinweg unterschiedliche Dysfunktionen im Bewegungsapparat aufgebaut, sei es ein zurückliegendes Trauma, eine Operationsnarbe oder eine monotone Haltung über einen längeren Zeitraum. Der Körper kann durch andere Strukturen ausgleichen und kompensieren. Aber auch diese Strukturen sind irgendwann überlastet sind werden diese Zusatzfunktion nicht mehr erfüllen können. Leider wird nach wie vor die Meinung vertreten: „Naja, Sport tut weh oder muss weh tun“.
            %br
            Clevere Sportler wissen aber, dass dies nicht der Normalfall ist und der Körper Schmerzen als Signal nutzt: „Hey, da stimmt was nicht in deinem Bewegungsapparat!“ Tu was dagegen, sonst fällst Du für längere Zeit aus und kannst deinem Hobby nicht mehr nachgehen!
          %p Egal, ob Beckenschiefstellung, eine blockierte Rippe oder ein Plattfuß. Dies sind alles Mechanismen, die ein Physiotherapeut und Osteopath schon im Vorfeld auffinden und ge­ge­be­nen­falls korrigieren kann. Verletzungen und Schmerzen können somit minimiert werden.
          %p Oft bekommen wir von Amateur– und Hobbysportlern zu hören, dass sie nicht die gleichen Möglichkeiten wie Profisportler hätten. Das ist aber falsch! Jeder Athlet und Freizeitsportler kann den Telefonhörer in die Hand nehmen und sich zur präventiven Vorsorge bei einem Physiotherapeuten auf eigene Kosten anmelden und behandeln lassen. Du benötigst keine Diagnose wenn es um eine Präventionsmaßnahme geht. Dies geschieht in Eigenleistung und auf Eigeninitiative hin und verlangt lediglich den Anruf bei einer gut ausgebildeten und im Sport erfahrenen Praxis, wie der Physiobox.
          %p Denn schade ist, dass man sich im Sportbereich häufig anhören muss: „Sport muss weh tun und Schmerzen sind ja ganz normal“. Überlege Dir im Vorfeld, ob Du mit 60 oder 70 Jahren immer noch dieser Meinung bist, wenn Du präventiv etwas gegen eine künstliche Bandscheibe, ein künstliches Kniegelenk oder Hüftgelenk hättest tun können.
          %p Jeder Hobbysportler und Amateursportler kann sein Schicksal selbst in die Hand nehmen und sogar noch mit 65 oder 75 Jahren seinem größtes Hobby – dem Sport – nachgehen, ohne dass Onkel Doc zu Dir sagt, dass deine Gelenke zu kaputt sind um weiterhin deiner Leidenschaft nachzugehen.
          %p Also liebe Freizeitsportler und Amateursportler, seit so clever und besiegt euren inneren Schweinehund. Nehmt die Signale eures Körpers wahr und lasst euch im Vorfeld screenen. Nur ein gesunder Sportler ist ein guter Sportler! Wer seinen Sport ein leben lang ausführen will legt die Grundsteine dazu ein seiner Jugend. Bleibt fleißig, quält euch, lasst euch pushen und in den Hintern treten. Aber achtet im Sport auf die Qualität und nicht auf die Quantität!
