#athletik-laktatdiagnostik

%section.page-header
  .container
    %h1.title.is-1 Mit Screeningverfahren Schwachstellen erkennen und beheben

%section.section
  .container
    .columns.columns-reverse
      = render "pages/athletik/leistungen/navigation"

      .column.content
        .columnize
          = image_tag "screening/DSC3722.jpg", class: "float-right"
          %p In der heutigen Zeit wird das Scalieren und Bewerten von Körperfunktion und ‑leistung immer wichtiger. Anforderungen an die Person und das Durchhaltevermögen werden anspruchsvoller und komplexer, egal ob im Sport oder in der Berufswelt. Es kann sich heutzutage niemand mehr leisten durch Überbelastung oder Verletzungen langfristig auszufallen. Zwangspausen oder gar Operationen sind lästige und langwierige Folgen von überlasteten Körperstrukturen, die durch falsche Haltung im Büro, emotionalem Stress, fehlender Elastizität oder Stabilität im Sport entstehen.
          %p Genau an diesem Punkt setzt ein Functional Movement Screen an. Dieser hat es sich zum Ziel gesetzt den Körper in seiner Funktion genauer unter die Lupe zu nehmen. Der Fokus liegt besonders auf Mobilität und Stabilität im Seitenvergleich. Er beurteilt die Funktionsebene des Bewegungsapparats nach einem Drei-Punkte-System und bietet Möglichkeiten zur Intervention. Durch das Bewertungssystem des FMS lässt sich anhand einer Punkteskala das Risiko von dauerhaften Überlastungsschäden abschätzen und ein individuelles, zielgerichtetes Übungsprogramm erstellen. Hast Du Schmerzen beim Kniebeugen oder Aufstehen vom Bürostuhl? Der FMS lässt Bewegungseinschränkungen der Hüfte oder dem Sprunggelenk im Seitenvergleich erkennen und gibt Hinweise auf die Ursache.
          %p Wir in der Physiobox geben medizinischen und gesundheitlichen Aspekten höchste Priorität. Jeder Sportler muss sich diesem kurzen Test unterziehen, um mögliche Überlastungen frühzeitig zu erkennen und Möglichkeiten anzubieten um gegen seine Dysbalancen und Dysfunktionen entgegenzuwirken.
          %p= image_tag "screening/DSC3718.jpg"
          %p Mitentwickler des FMS ist Gray Cook aus Amerika, der dieses System als Standart im Sportbereich, bei vielen Bereitschaftsdiensten wie Polizei, Feuerwehr und Ambulanz sowie in vielen Unternehmen eingeführt hat. Er stellte fest, dass durch Dysbalancen und Dysfunktionen im Bewegungsapparat das Training und die Bewegungen im Alltag ineffizient und leistungsschwächend wirken. Durch längerfristige Belastung in seinem falschen Muster werden Verletzungen und Überlastungen der Gelenke, Bänder und Muskeln provoziert.
