#athletik

  h1
    margin-bottom: 5rem

  h2
    color: $medium-green

  .featurette-divider
    margin: 5rem 0

  .featurette-image
    border-radius: 10%


  #kursangebot h2
    margin-bottom: 1rem

  .goteamup
    color: $medium-green

  .events

    thead
      border-bottom: 1px solid #dee2e6

    td + td, th + th
      border-left: 1px solid #dee2e6

    td
      width: calc(100%/7)
      min-width: 150px

    .event
      .time
        font-size: 0.9rem
        white-space: nowrap

      .title
        font-weight: 450
        font-size: 1.1rem
        color: $medium-green
        line-height: 1.25rem
