#home

  .welcome
    margin-bottom: 4rem
    .title
        font-size: 3rem
        color: $medium-green



  .grid-image
    padding: 15px

    img
      border-radius: 10%
      border: 1px solid #5a5a5a
