#home

  .welcome
    margin-bottom: 4rem
    .title
        font-size: 3rem
        color: $medium-green



  .grid-image
    padding: 15px

    img
      border-radius: 10%

    .grid-caption
      position: absolute
      right: 15%
      bottom: 20px
      left: 15%
      z-index: 10
      padding-top: 20px
      padding-bottom: 20px
      color: #fff
      font-size: 1.25rem
      text-align: right
