/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap"
@import "font-awesome"

$dark-green: rgb(0, 128, 0)
$medium-green: rgb(48, 176, 48)
$light-green: rgb(96, 224, 96)

$medium-purple: #b232b1


@import "home"
@import "ueber-uns"
@import "physiotherapie"
@import "athletik"
@import "kontakt"
@import "datenschutz"

.pyhsio
  color: $medium-green

.athletik
  color: $medium-purple

body
  color: #5a5a5a
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

a, a:hover, a:active
  color: inherit

.lead
  font-size: 1.20rem
  font-weight: 350

.top-bar
  background-color: $medium-green
  height: 50px
  color: white

  .btn
    display: inline
    padding: 0
    font-size: inherit
    border: 0
    vertical-align: top

  .list-inline-item
    padding: 15px 6px
    font-size: 14px

    @media(max-width: 990px)
      padding: 15px 5px
      font-size: 14px


  .fa
    margin-right: 0.2em

  .dropdown-menu
    table
      min-width: 200px

  .dropdown:hover > .dropdown-menu, .dropdown:active > .dropdown-menu
    display: block


h1.page-title
  border-bottom: 1px solid $medium-green
  font-size: 3rem
  margin-top: 3rem


.main-nav
  padding-right: 0

  @media(max-width: 990px)
    padding-left: 0

  .nav-link
    text-align: right
    font-weight: 500
    padding: 5px

    @media(min-width: 991px)
      margin: 5px
      font-size: 1.3rem


  .active .nav-link, a.nav-link:hover, a.nav-link:active
    color: white
    background-color: $medium-green
    border-radius: 0.3em


  .navbar-toggler
    background-color: $medium-green
    color: rgba(255, 255, 255, 0.5)
    border-color: rgba(255, 255, 255, 0.1)

  .navbar-toggler-icon
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")

  img
    margin-top: -63px


.carousel
  margin-bottom: 4rem



footer
  background-color: #333
  color: white
  font-weight: 300
  padding-top: 2rem
  margin-top: 4rem
  font-weight: 300
  line-height: 1.75

  .address, .hours, .links
    margin-bottom: 1.5rem


  .address
    .main
      font-size: 1.2rem
      font-weight: 400
      padding-bottom: 5px

    i.fa
      margin-right: 0.3em
      color: $light-green
      width: 14px

  .hours
    .main
      font-size: 1.1rem
      font-weight: 400

  .links
    display: flex
    align-items: flex-end
    align-items: flex

    @media(min-width: 768px)
      justify-content: flex-end
      text-align: right

    ul
      margin-bottom: 0
      display: block

