/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap"
@import "font-awesome"

$dark-green: rgb(0, 128, 0)
$medium-green: rgb(48, 176, 48)
$light-green: rgb(96, 224, 96)


@import "team"
@import "kontakt"

#top-teaser
  background-image: url(asset_path("teaser.jpg"))
  background-position: center center
  background-size: cover
  width: 100%
  height: 240px

h1
  border-bottom: 1px solid $medium-green
  font-size: 3rem
  margin-top: 1rem



body
  color: #5a5a5a
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif



.top-bar
  background-color: $medium-green
  height: 50px


nav
  .nav-link
    padding: 15px !important
    font-weight: 500
    font-size: 1.3rem
    color: $dark-green
    text-align: right

  .active .nav-link, a.nav-link:hover, a.nav-link:active
      color: $light-green

  .navbar-toggler
    background-color: $dark-green
    color: rgba(255, 255, 255, 0.5)
    border-color: rgba(255, 255, 255, 0.1)

  .navbar-toggler-icon
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")

  img
    margin-top: -63px



.carousel
  margin-bottom: 4rem



.marketing
  .col-lg-4
    margin-bottom: 1.5rem
    text-align: center
  h2
    font-weight: 400
  .col-lg-4 p
    margin-right: .75rem
    margin-left: .75rem



.featurette-divider
  margin: 5rem 0



footer
  background-color: $dark-green
  color: white
  padding-bottom: 1rem
  padding-top: 1rem

  a, a:hover, a:active
    color: white

  address
    font-weight: 300
    line-height: 1.75

    .main
      font-size: 1.2rem
      font-weight: 400
      padding-bottom: 5px

    i.fa
      margin-right: 0.3em
      color: $light-green
      width: 14px

