%footer#footer.footer
  .container
    .columns

      .column.content.address
        %address
          .title.is-5 Die Physiobox GmbH
          %p
            .icon
              .fas.fa-map-marker-alt
            Westendstraße 185
            %br
            .icon
              .fas.fa-invalid
            80686 München
          %p
            .icon
              .fas.fa-phone
            = link_to "(089) 95 49 37 10", "tel:+498995493710"
          %p
            .icon
              .fas.fa-envelope
            = mail_to "mail@diephysiobox.de"

      .column.is-narrow.opening-times.content
        .title.is-6 Öffnungszeiten
        %table
          %tr
            %td.day Montag
            %td 8:00 - 18:00
          %tr
            %td.day Dienstag
            %td 8:00 - 18:00
          %tr
            %td.day Mittwoch
            %td 8:00 - 18:00
          %tr
            %td.day Donnerstag
            %td 8:00 - 18:00
          %tr
            %td.day Freitag
            %td 8:00 - 18:00
          %tr
            %td{colspan: 2}
              Und Termine nach Vereinbarung

      .column.content.links
        %ul.list-unstyled
          %li= link_to "Impressum", page_path("impressum")
          %li= link_to "Datenschutz", page_path("datenschutz")
