{
  "@context": "http://schema.org",
  "@type": "JobPosting",
  "title": "Physiotherapeut",
  "description": "
    <p>Wir sind auf der Suche nach einem sportbegeisterten Physiotherapeuten/-in! In unserer modern eingerichteten Praxis liegt der Schwerpunkt bei Patienten aus dem orthopädisch -, chirugisch - und neurologischem Bereich. Zusätzlich betreiben wir eine Athletik Box mit täglichen Athletik Kursen.</p>
    <p>Profil-Anforderungen
      <ul>
        <li>Physiotherapeut/in mit Zusatzausbildung MT, MLD Vorkenntnisse wären wünschenswert, ist aber nicht zwingend erforderlich</li>
        <li>Teamfähigkeit</li>
        <li>Gepflegtes Erscheinungsbild</li>
        <li>Begeisterung für Sport</li>
        <li>Offener und lockerer Umgang mit Patienten und Sportlern</li>
      </ul>
    </p>
    <p>Was wir bieten:
      <ul>
        <li>Überdurchschnittliche Vergütung</li>
        <li>Unbefristeter Arbeitsvertrag</li>
        <li>Fortbildungszuschüsse und Fortbildungstage</li>
        <li>Interne Fortbildungen</li>
        <li>Selbstständiges Arbeiten</li>
        <li>Nettes, engagiertes Team</li>
        <li>Terminierung und Rezeptabwicklung über unsere Rezeptionskraft</li>
        <li>Wir betreuen Patienten aus dem Leistungssportbereich und Breitensport</li>
        <li>Einblicke in die Leistungsdiagnostik (Laktatdiagnostik und FMS)</li>
        <li>Organisieren von Camps und Events</li>
      </ul>
    </p>
    <p>Wir freuen uns auf deine Bewerbung!</p>
    <p>
      Bewerbung an:
      <br />
      z. Hd. Christoph Reiner
      <br />
      geschaeftsleitung@diephysiobox.de
    </p>
  ",
  "employmentType": "FULL_TIME",
  "datePosted": "2019-10-01",
  "hiringOrganization": {
    "@type": "Organization",
    "name": "Die Physiobox GmbH",
    "sameAs": "https://diephysiobox.de"
  },
  "jobLocation": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Westendstraße 185",
      "addressLocality": "München",
      "postalCode": "80686",
      "addressCountry": "DE"
    }
  }
}
