---
layout: athletik
title: "Team • Funktionelles Training"
---

<div id="team">
  <section class="page-header">
    <div class="container">
      <h1 class="title is-1">Team</h1>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-multiline is-centered">

        <!-- Katharina -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/katharina.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Katharina</h3>
              <h4 class="subtitle is-6">Head Coach</h4>
            </div>
            <ul>
              <li>Physiotherapeutin</li>
              <li>CrossFit - OL1</li>
              <li>CrossFit Gymnastics L1</li>
              <li>Certified Functional Trainer</li>
              <li>Functional Movement Screen (FMS) Level 1&thinsp;+&thinsp;2 i.&thinsp;A.</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Mobility & Prehab</li>
              <li>Gymnastics</li>
              <li>Sportrehabilitation</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>CrossFit Athletin und seit Jahren im Synchronschwimmen, Skifahren und Reiten aktiv.
            </p>
            <p>„Wie lange ich die Luft anhalten kann? JA!“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Burpees über alles Mögliche
            </p>
          </div>
        </div>

        <!-- Sabrina -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/sabrina.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Sabrina</h3>
              <h4 class="subtitle is-6">Coach & Programming</h4>
            </div>
            <ul>
              <li>M.&thinsp;A. Prävention und Gesundheitsmanagement</li>
              <li>CrossFit - L1</li>
              <li>DOSB-C-Trainerin Leistungssport Gewichtheben</li>
              <li>Trainerin Sportrehabilitation</li>
              <li>CAT Level 1 & Level 2 Athletiktrainerin</li>
              <li>Ernährungsberaterin & Functional Nutrition Coach</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Gewichtheben</li>
              <li>Krafttraining</li>
              <li>Mobility & Prehab</li>
              <li>Sportrehabilitation</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Athletin Olympisches Gewichtheben und jahrelang in diversen Teamsportarten und Springreiten aktiv gewesen.
            </p>
            <p>„Technik ist das A&thinsp;&&thinsp;O, Leute. Ich höre sogar, wenn ihr was falsch macht!“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Snatch, Front Squat, Sled Push & Pull
            </p>
          </div>
        </div>

        <!-- Daniel -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/daniel.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Daniel</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>Functional Trainer</li>
              <li>Strength & Conditioning Coach</li>
            </ul>
            <span class="has-text-weight-semibold">Unser Spezialist für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Gewichtheben</li>
              <li>Krafttraining</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Functional Fitness Athlet seit 2012 und Mitglied der Physiobox seit 2017.
            </p>
            <p>„Ich dreh mal die Musik lauter, dann höre ich euch nicht so schwer atmen.“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Snatch, Seilklettern & Sled Push
            </p>
          </div>
        </div>

        <!-- Laura -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/laura.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Laura</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>Functional Trainerin</li>
              <li>Fitnesstrainer C-Lizenz</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Regressionen & Progressionen Skills</li>
              <li>Motivation am Morgen</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Functional Fitness Athletin und seit 2015 Mitglied der Physiobox.
            </p>
            <p>„Ich schau euch so gerne beim Leiden zu!“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Clean
            </p>
          </div>
        </div>

        <!-- Julia -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/julia.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Julia</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>CrossFit - L1</li>
              <li>Functional Trainerin</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Regressionen & Progressionen Skills</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Functional Fitness Athletin mit Teilnahme Cyprus Throwdown, jahrelang im Vereinssport aktiv und seit 2015 Mitglied der Physiobox.
            </p>
            <p>„Das Workout schaffst du bis zum Ende!“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Dumbbell Snatch
            </p>
          </div>
        </div>

        <!-- Albi -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/albi.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Albertýna</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>Physiotherapeutin (B.&thinsp;Sc.)</li>
              <li>Yoga Instruktorin (Hathayoga)</li>
              <li>DOSB-B-Trainerin Breitensport Ski- und Schneesport (Alpin)</li>
              <li>Athletiktrainerin</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Yoga</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Ehemalige Athletin des FIS - CIT Ski Alpin Kaders mit Rennen auf internationalem Niveau und Triathletin.
            </p>
            <p>„Aufgeben kannst du bei der Post!“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Krähe - „Bakasana“
            </p>
          </div>
        </div>

        <!-- Louis -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/louis.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Louis</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>Certified Functional Trainer Level&nbsp;1&nbsp;+&nbsp;2</li>
              <li>Tactical Training Coach</li>
            </ul>
            <span class="has-text-weight-semibold">Unser Spezialist für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Krafttraining</li>
              <li>Metabolic Conditioning</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Functional Athlet, Krafttraining und Deadlift Boxrekordhalter
            </p>
            <p>„Was wehtut, wächst“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Sledgehammer, Assaultbike und Deadlift
            </p>
          </div>
        </div>

        <!-- Hannes -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/hannes.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Hannes</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>Functional Trainer</li>
              <li>Strength & Conditioning Coach</li>
              <li>Birdbox Coaching Development</li>
            </ul>
            <span class="has-text-weight-semibold">Unser Spezialist für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Gewichtheben</li>
              <li>Gymnastics</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Functional Fitness Athlet seit 2018 mit einigen lokalen Wettkampferfolgen und Teilnahme am Athens Throwdown 2023, Swiss Throwdown 2024, uvm.
            </p>
            <p>„get big or die trying“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Snatch
            </p>
          </div>
        </div>

        <!-- Christina -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/christina.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Christina</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>Physiotherapeutin</li>
              <li>Functional Trainerin B-Lizenz i.&thinsp;A.</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Mobility & Prehab</li>
              <li>Funktionelles Training</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Kaderathletin Akrobatik Rock´n´Roll, 3. Platz auf der Weltmeisterschaft, Functional Fitness Athletin
            </p>
            <p>„Ich kann zwar einen Spagat, war aber noch nie in einer Situation in der ich dachte: Jetzt kann nur noch
              ein Spagat helfen!“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Toes to bar
            </p>
          </div>
        </div>

        <!-- Lea -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/lea.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Lea</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>Physiotherapeutin i.&thinsp;A.</li>
              <li>CrossFit – L1</li>
              <li>B.&thinsp;A. Fitnessökonomie</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Gewichtheben</li>
              <li>Gymnastics</li>
              <li>Personal Training</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>15 Jahre Tennis, seit 2018 Functional Fitness Athletin mit Teilnahme am Arena Throwdown Team,
              Gewichtheben 2.&nbsp;Bundesliga für den TSV Waldkirchen und 3.&nbsp;Platz auf der Bayerischen
              Meisterschaft Gewichtheben.
            </p>
            <p>„Aus der Mitte kommt die Kraft“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Reißen (Snatch), Stoßen (Clean and Jerk), Toes to bar
            </p>
          </div>
        </div>

        <!-- Cordula -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/cordula.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Cordula</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>Functional Trainerin</li>
              <li>Birdbox Coaching Development Seminar</li>
              <li>Weightlifting Seminar bei Patrick Dürnberger</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Weightlifting</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Modern/Jazz/Hip Hop Tanz, Snowboarden, Functional Fitness Athletin seit 2018, Yoga und Wandern.
              <br>Teilnahme an diversen Wettkämpfen wie Battle the Beach, Fitness Bundesliga, Alsace Trowdown und
              1.&nbsp;Platz beim Kroftlaggl Throwdown uvm.
            </p>
            <p>„Schmerz vergeht, das Ergebnis bleibt.“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Ring Muscle Up
            </p>
          </div>
        </div>

        <!-- Duncan -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/duncan.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Duncan</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>Functional Trainer</li>
              <li>Strength & Conditioning Coach</li>
            </ul>
            <span class="has-text-weight-semibold">Unser Spezialist für:</span>
            <ul class="has-header">
              <li>Functional Trainer</li>
              <li>Weightlifting</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>8 Jahre Turniertanz in den Lateinamerikanischen Tänzen bis zur höchsten Amateurklasse (S), Functional Fitness Athlet und Mitglied der Physiobox seit 2016
            </p>
            <p>„Die B-Note ist entscheidend! Erst die Technik, dann mehr Gewicht.“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Overhead Squat
            </p>
          </div>
        </div>

        <!-- Zola -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/zola.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Zola</h3>
              <h4 class="subtitle is-6">Boxdog</h4>
            </div>
            <ul>
              <li>Therapiehund</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Athletenbegrüßung nach Bedarf</li>
              <li>Athletencooldown nach dem Workout</li>
              <li>Beaufsichtigung der Coaches im Training</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Athletin im Joggen, Stockheben, Freiwasserschwimmen und Wettessen
            </p>
            <p>„Wahuuuuuu!“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Ball Catch & Fetch
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>