---
layout: athletik
title: "Team • Funktionelles Training"
---

<div id="team">
  <section class="page-header">
    <div class="container">
      <h1 class="title is-1">Team</h1>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-multiline is-centered">

        <!-- Katharina -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/katharina.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Katharina</h3>
              <h4 class="subtitle is-6">Head Coach</h4>
            </div>
            <ul>
              <li>Physiotherapeutin</li>
              <li>CrossFit - OL1</li>
              <li>CrossFit Gymnastics L1</li>
              <li>Certified Functional Trainer</li>
              <li>Functional Movement Screen (FMS) Level 1+2 i.&thinsp;A.</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Mobility & Prehab</li>
              <li>Gymnastics</li>
              <li>Sportrehabilitation</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>CrossFit Athletin und seit Jahren im Synchronschwimmen, Skifahren und Reiten aktiv.
            </p>
            <p>„Wie lange ich die Luft anhalten kann? JA!“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Burpees über alles Mögliche
            </p>
          </div>
        </div>

        <!-- Sabrina -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/sabrina.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Sabrina</h3>
              <h4 class="subtitle is-6">Coach & Programming</h4>
            </div>
            <ul>
              <li>M.A. Prävention und Gesundheitsmanagement</li>
              <li>CrossFit - L1</li>
              <li>DOSB-C-Trainerin Leistungssport Gewichtheben</li>
              <li>Trainerin Sportrehabilitation</li>
              <li>CAT Level 1 & Level 2 Athletiktrainerin</li>
              <li>Ernährungsberaterin & Functional Nutrition Coach</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Gewichtheben</li>
              <li>Krafttraining</li>
              <li>Mobility & Prehab</li>
              <li>Sportrehabilitation</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Athletin Olympisches Gewichtheben und jahrelang in diversen Teamsportarten und Springreiten aktiv
              gewesen.
            </p>
            <p>„Technik ist das A & O, Leute. Ich höre sogar, wenn ihr was falsch macht!“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Snatch, Front Squat, Sled Push & Pull
            </p>
          </div>
        </div>

        <!-- Daniel -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/daniel.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Daniel</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>Functional Trainer</li>
              <li>Strength & Conditioning Coach</li>
            </ul>
            <span class="has-text-weight-semibold">Unser Spezialist für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Gewichtheben</li>
              <li>Krafttraining</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>CrossFit Athlet seit 2012 und Mitglied der Physiobox seit 2017.
            </p>
            <p>„Ich dreh mal die Musik lauter, dann höre ich euch nicht so schwer atmen.“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Snatch, Seilklettern & Sled Push
            </p>
          </div>
        </div>

        <!-- Laura -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/laura.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Laura</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>Functional Trainerin</li>
              <li>Fitnesstrainer C-Lizenz</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Regressionen & Progressionen Skills</li>
              <li>Motivation am Morgen</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>CrossFit Athletin und seit 2015 Mitglied der Physiobox.
            </p>
            <p>„Ich schau euch so gerne beim Leiden zu!“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Clean
            </p>
          </div>
        </div>

        <!-- Julia -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/julia.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Julia</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>CrossFit - L1</li>
              <li>Functional Trainerin</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Regressionen & Progressionen Skills</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>CrossFit Athletin mit Teilnahme Cyprus Throwdown, jahrelang im Vereinssport aktiv und seit 2015
              Mitglied der Physiobox.
            </p>
            <p>„Das Workout schaffst du bis zum Ende!“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Dumbbell Snatch
            </p>
          </div>
        </div>

        <!-- Albertýna -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/albi.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Albertýna</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>Physiotherapeutin (B.&thinsp;Sc.)</li>
              <li>Yoga Instruktorin (Hathayoga)</li>
              <li>DOSB-B-Trainerin Breitensport Ski- und Schneesport (Alpin)</li>
              <li>Athletiktrainerin</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Yoga</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Ehemalige Athletin des FIS - CIT Ski Alpin Kaders mit Rennen auf internationalem Niveau und
              Triathletin.
            </p>
            <p>„Aufgeben kannst du bei der Post!“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Krähe - „Bakasana“
            </p>
          </div>
        </div>

        <!-- Louis -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/louis.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Louis</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>Certified Functional Trainer</li>
              <li>Tactical Training Coach</li>
            </ul>
            <span class="has-text-weight-semibold">Unser Spezialist für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Krafttraining</li>
              <li>Metabolic Conditioning</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Functional Athlet, Krafttraining und Deadlift Boxrekordhalter
            </p>
            <p>„Was wehtut, wächst“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Sledgehammer, Assaultbike und Deadlift
            </p>
          </div>
        </div>

        <!-- Hannes -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/hannes.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Hannes</h3>
              <h4 class="subtitle is-6">Coach</h4>
            </div>
            <ul>
              <li>CrossFit L1</li>
              <li>CrossFit Gymnastics L1</li>
              <li>Athletiktrainer</li>
            </ul>
            <span class="has-text-weight-semibold">Unser Spezialist für:</span>
            <ul class="has-header">
              <li>Funktionelles Training</li>
              <li>Gymnastics</li>
              <li>Metabolic Conditioning</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Functional Athlet und CrossFit Trainer mit langjähriger Erfahrung in Krafttraining und Gymnastik.
            </p>
            <p>„Nur Mut, es ist nur eine kleine WOD!“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Muscle Ups
            </p>
          </div>
        </div>

        <!-- Zola -->
        <div class="column content is-half-tablet is-one-third-desktop">
          <div class="mate">
            <div class="has-text-centered">
              {% include picture.html image="team/athletik/zola.jpg" sizes="[350, 350, 350, 350]" %}
              <h3 class="name title is-4">Zola</h3>
              <h4 class="subtitle is-6">Feel-Good Manager</h4>
            </div>
            <ul>
              <li>Motivation & Unterhaltung</li>
              <li>Stressabbau</li>
              <li>Emotionale Unterstützung</li>
            </ul>
            <span class="has-text-weight-semibold">Unsere Spezialistin für:</span>
            <ul class="has-header">
              <li>Wohlfühlen</li>
              <li>Glückliche Gesichter</li>
            </ul>
            <p>
              <span class="has-text-weight-semibold">Sportlicher Background:</span>
              <br>Professionelle Ballfängerin und Spielkameradin für alle Altersgruppen.
            </p>
            <p>„Ich bin bereit für Kraulen oder Spielen, wann immer du bist!“</p>
            <p>
              <span class="has-text-weight-semibold">Lieblingsübung:</span>
              <br>Ball holen und Kuscheln
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>